<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
</head>
<body>
    <form id="form">
        <input type="text" placeholder="Enter Username" id="username">
        <input type="email" placeholder="Enter Email Adress" id="email">
        <input type="password" placeholder="Enter Password" id="password">
        <input type="submit">
    </form>
</body>
<script src="/view/signup.js"></script>
</html>