<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form id="form">
        <input type="text" placeholder="Enter Title " id="title">
        <input type="text" placeholder="Enter Content" id="content">
        <input type="text" placeholder="Author" id="author">
        <input type="submit" >
    </form>

<hr>

<div id="blogList"></div>
</body>
<script src="./index.js"></script>
</html>